@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    border-color: theme(colors.zinc.800);
  }
}
