@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  max-width: 100vw;
}

@layer base {
  * {
    border-color: theme(colors.zinc.800);
  }
}
